{% include "corps/includes/header.twig" %}

  <h2>WELCOME TO YOUR DASHBOARD <?=strtoupper($_SESSION["firstname"]);?></h2>
  <li><a href="{{ URLROOT }}/corps/logout">LOGOUT</a></li>
  <li><a href="">FORM 2A</a></li>
  <li><a href="">FORM 4A</a></li>
  <li><a href="">FORM 4B</a></li>
  <li><a href="">Book of life</a></li>

  <pre>Routes have not been created for the Forms yet</pre>

{% include "corps/includes/footer.twig" %}
