
{% include 'corps/includes/header.twig' %}

  <style>
  html,
    .login{
      height: 100%;
    }

    .login{
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      /* background-color: #f5f5f5; */
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
  <div class="login text-center">
    <form class="form-signin" action="" method="post">

      <img class="mb-4" src="{{ URLROOT }}/public/img/NYSClogo.jpg" alt="NYSC" height="200">

      {# <?php flash("failed");?> #}

      <!-- State Code field -->
      <label for="stateCode" class="sr-only">State Code</label>
      <input name="stateCode" placeholder="State Code"  
      class="form-control {{ data.errors.stateCode ? 'is-invalid' : '' }}"
      value="{{ data.input.stateCode ? : '' }}" autofocus>
     
      <!-- Report Error -->
      <p class="text-danger">{{ data.errors.stateCode? : '' }}</p>
      
      
      <!-- Callup Number / Surname field -->
      <label for="identifier" class="sr-only">Callup Number / Surname</label>
      <input name="identifier" placeholder="Callup Number / Surname" 
      class="form-control {{ data.errors.identifier ? 'is-invalid' : '' }}"
      value="{{ data.input.identifier ? : '' }}">

      <!-- Report Error -->
      <p class="text-danger">{{ data.errors.identifier? : '' }}</p>

      <button class="btn btn-success form-control" type="submit">Submit</button>
      
      <p class="mt-5 mb-3 text-muted">NYSC &copy; <?= date("Y")?></p>
    </form>

  </div>

{% include "corps/includes/footer.twig" %}