<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ URLROOT }}/public/css/bootstrap.css">
  <title>{{ SITENAME }} | {{ data.title }}</title>
</head>
<body>
  
