<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ SITENAME }} | {{ data.title }}</title>
</head>
<body>
  This is the Homepage<br>

  You can view the corp member area <a href="{{ URLROOT }}/corps">here</a>
</html>